<ui-table [tableData]="tasks$ | async"></ui-table>

<ui-popup [status]="modalStatus">
  <ng-container *ngIf="editForm && !alertMessage">
    <div class="form-wrapper">
      <form [formGroup]="editForm" (ngSubmit)="changeTask()">
        <h2>Please give new values</h2>
        <div class="field">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" placeholder="Name">
        </div>
        <div class="field">
          <label for="type">Type</label>
          <select type="text" id="type" formControlName="type" placeholder="Type">
            <option value="wash-dishes">Wash dishes</option>
            <option value="vacuum-clean">Vacuum clean</option>
          </select>
        </div>
        <div class="field">
          <label for="duration">Duration</label>
          <input type="text" id="duration" formControlName="duration" placeholder="Duration">
        </div>
        <!-- <div class="field">
          <label for="duration">Who</label>
          <input type="text" id="duration" formControlName="duration" placeholder="Duration">
        </div>
        <div class="field">
          <label for="duration">Duration</label>
          <input type="text" id="duration" formControlName="duration" placeholder="Duration">
        </div> -->
        <div class="field button-field">
          <button type="button" (click)="hidePopup()">Close</button>
          <button type="submit">Change</button>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="alertMessage && editForm">
    <div class="form-wrapper delete">
      <h1>{{ alertMessage }}</h1>
      <div class="field">
        <button type="button" class="blue" (click)="hidePopup()">No</button>
        <button type="button" class="red" (click)="deleteTask()">Yes</button>
      </div>
    </div>
  </ng-container>
</ui-popup>
